[Desktop Entry]
Type=Application
Name=ACMX Interface
Comment=OpenGL and Vulkan real-time video shader interface
Exec=acmx2_interface
Icon=io.github.lostjared.ACMX2
Terminal=false
Categories=AudioVideo;Video;
StartupWMClass=acmx2_interface
